<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New File", new_salfile_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @salfiles.each do |salfile| %>

         <tr>
            <td><%= salfile.name %></td>
            <td><%= link_to "Download Salary File", salfile.attachment_url %></td>
            <td><%= button_to "Delete",  salfile, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{salfile.name}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>